.home {
  width: 100%;
  padding-top: 15vh;
  min-height: 70vh;
}

.frontImg {
  width: 70%;
}

.newArrival {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.newArrivalTitle {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.newArrivalTitle p {
  /* font-size: 3rem; */
  font-size: 2.8vw;
}

.newArrivalTitle button {
  font-size: 1.25rem;
}

.tab {
  text-decoration: none;
}

.newArrivalItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

/*MOBIL / TABLET*/
.mobileNewArrival {
  margin: 8rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobileNewArrival p {
  font-size: 3rem;
}
