.home {
  width: 100%;
  padding-top: 4rem;
  min-height: 70vh;
}

.frontImg {
  width: 70%;
}

.newArrival {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newArrivalTitle {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.newArrivalTitle p {
  font-size: 3rem;
}

.newArrivalTitle button {
  font-size: 1.25rem;
}

.tab {
  text-decoration: none;
}

.newArrivalItems {
  display: flex;
}

/* .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 15vh;
    min-height: 70vh;
  } */
