.cart {
  position: fixed;
  top: 4.75rem;
  right: 0.875rem;
  background-color: var(--background-color);
  border: 5px solid var(--accent-color);
  width: 30vw;
  max-height: 80vh;
  border-radius: 0.5rem;
  overflow-y: auto;
  z-index: 2;
}

.cartTitle {
  border-bottom: 1px solid var(--accent-color);
  height: 2rem;
  font-size: 1.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.3rem;
}

.itemContainer {
  display: flex;
  border-bottom: 1px solid var(--accent-color);
  height: 7vw;
}

.imgContainer {
  padding: 1rem;
  width: 30%;
  border-right: 1px solid var(--accent-color);
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.titleAndPrice {
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-right: 1px solid var(--accent-color);
  padding: 0rem 1rem;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  width: 30%;
}

.num {
  font-size: 0.5em;
}

.plusMinus {
  font-size: 1vw;
  padding: 0.3rem;
}

.removeAndTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.removeAndTotal button,
.removeAndTotal p {
  font-size: 1.1vw;
  padding: 0.5rem;
}

.checkout {
  font-size: 1.5vw;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--accent-color);
  color: var(--background-color);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.checkout:hover {
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
}

@media screen and (max-width: 1023px) {
  .cart {
    top: unset;
    right: unset;
    left: 1.875rem;
    bottom: 1.875rem;
    width: 70%;
    max-height: 50%;
  }

  .cartTitle {
    font-size: 1rem;
  }

  .itemContainer {
    height: 5%;
  }

  .titleAndPrice {
    font-size: 1rem;
  }

  .quantity {
    font-size: 2.5rem;
  }

  .plusMinus {
    font-size: 0.8rem;
  }

  .removeAndTotal button,
  .removeAndTotal p {
    font-size: 1.1rem;
  }

  .checkout {
    font-size: 1rem;
  }
}
