.categorySelect {
  position: fixed;
  top: 4rem;
  left: 22.8rem;
  background-color: var(--accent-color);
  width: 10rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.categorySelect button {
  all: unset;
  padding: 1rem;
}

.link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}
