.itemBox {
  /* background-color: antiquewhite; */
  margin: 3rem;
  padding: 1.5rem;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 20rem;
  transition: all 0.3s ease-in-out;
  z-index: 0;
}

.itemBox:hover {
  transform: scale(1.1);
}

.imageContainer {
  /* background-color: aliceblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 60%;
  margin-bottom: 1rem;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.itemInfo {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.itemInfo p {
  font-size: 1.25rem;
}

.link {
  all: unset;
}
