.title {
  padding: 0rem 3rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--accent-color);
  text-decoration: none;
}

.menuBar {
  padding: 0rem 2rem;
  font-size: 1.5rem;
}

.dropDown {
  position: absolute;
  top: 4rem;
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tabContainer {
  font-size: 1.5rem;
  border: 2px solid var(--background-color);
  padding: 0.8rem 0rem;
  width: 100%;
}

.tab {
  text-decoration: none;
  color: var(--background-color);
  height: 100%;
  padding: 0rem 40%;
}

.catDropdown {
  border: 10px solid var(--background-color);
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding: 0.8rem 0rem;
}

.link {
  text-decoration: none;
  color: var(--background-color);
  padding: 0.8rem 0rem;
}
