:root {
  --text-color: black;
  --background-color: #ffffff;
  --accent-color: #f05722;
  /*
  --text-color: #110c1e;
  --background-color: #7a59e4;
  --accent-color: #f4d977;
  */
}

* {
  margin: 0;
  padding: 0;
  /* font-family: "Cormorant", serif; */
  /* font-family: Gotham; */
  color: var(--text-color);
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--background-color);
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: "Oswald", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.toTopBtnANDCartBtn {
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  position: fixed;
  bottom: 1.875rem;
  right: 1.875rem;
  background-color: var(--background-color);
  color: var(--accent-color);
}

.toTopBtnANDCartBtn:hover {
  transition: all 0.3s ease-in-out;
  background-color: var(--accent-color);
  color: var(--background-color);
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}

.failedToLoadData {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

@media screen and (max-width: 1023px) {
  .toTopBtnANDCartBtn {
    border: 2.5px solid var(--accent-color);
    font-size: 0.9rem;
  }
}

/*********************************************************************************************/
.loadingContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading {
  border: 16px solid var(--accent-color);
  border-top: 16px solid var(--background-color);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 2s linear infinite;
  margin-bottom: 2rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
